html {
  height: 100%;
  max-width: 22rem;
  min-width: 18rem;
  border: 1px solid gray;
  margin-inline-start: 4rem;
}

h2 {
  color: rgb(116, 221, 18);
  opacity: 1;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: rgb(255, 0, 0);
}

li {
  color: rgb(255, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-weight: bold;
 list-style: none;
}

button {
  background-color: green;
  color: white;
}

button:nth-child(2) {
  position: absolute;
  top: 60%;
  left: 20%;
}

p[contenteditable="true"] {
  color: blue;
}
